@model wopApi.Models.KategoriBarangJasaTm

@{
    ViewData["Title"] = "Edit ";
}

<h2>Edit</h2>

<h4>Kategori Barang Jasa</h4>
<hr/>
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Jenis" class="control-label"></label>
                <input asp-for="Jenis" class="form-control" />
                <span asp-validation-for="Jenis" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Kategori" class="control-label"></label>
                <input asp-for="Kategori" class="form-control" />
                <span asp-validation-for="Kategori" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StatusFlow" class="control-label"></label>
                <input asp-for="StatusFlow" class="form-control" />
                <span asp-validation-for="StatusFlow" class="text-danger"></span>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
</form>
  

<div class="row">
    <div class="col-md-12">
        <center>
            <a asp-action="Index">Back to List</a>
        </center>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
